In [0]:
------------------------------ TABLE FORMATION ------------------------------
drop table if exists seats;

CREATE TABLE seats (
    id INT,
    student VARCHAR(10)
);

INSERT INTO seats VALUES 
(1, 'Amit'),
(2, 'Deepa'),
(3, 'Rohit'),
(4, 'Anjali'),
(5, 'Neha'),
(6, 'Sanjay'),
(7, 'Priya');

------------------------------------------------------------------------------------------

/*
Q1:
Write a solution to swap the seat id of every two consecutive students.
If the number of students is odd, the id of the last student is not swapped.
*/

-- Ans1:
-- Method 1: Using CTE
select *,
case
  when id = (select max(id) from seats) and id%2=1  then id
  when id%2=1 then id+1
  else id-1
end as new_id
from seats;

-- Method 2: Using LEAD and LAG
select *,
case
  when id%2=1 then LEAD(id,1,id) OVER(order by id)
  else LAG(id,1) OVER(order by id)
end as new_id
from seats